<?php
// Ce document doit être modifié pour remettre la majorité du code php dans le controller
if(!defined("FRONT_CONTROLER"))
{
	throw new Exception();
}
?>
<div style="text-align: center; margin-top: 50px;">
	<form method="POST" action="?action=modify-user" accept-charset='UTF-8'>
		<label for="id">Identifiant de l'utilisateur</label><input type="text" name="login" id="id" placeholder="Identifiant" />
		<select name="type">
			<option value="Student">Etudiant</option>
			<option value="Teacher">Professeur</option>
			<option value="Secretarie">Secretaire</option>
		</select>
		<input type="submit" value="Modifier" />
	</form>
	<hr>
	<fieldset>
		<legend>Secretaires</legend>
		<?php
			$data = SecretaryDAO::getAllSecretaries();
			$secretaryCounter = 0; 
			foreach ($data as $secretary) {
				echo "<span style=\"padding:10px;\">".$secretary->getLastname()." ".$secretary->getFirstname()." [".$secretary->getId()."]</span>";
				$secretaryCounter++;
				if($secretaryCounter >= 4){
					$studentCounter = 0;
					echo "<br/>";
				}
			}
		?>
	</fieldset>
	<fieldset>
		<legend>Professeurs</legend>
		<?php
			$data = NULL;
			$data = TeacherDAO::getAllTeachersDebug();

			$teacherCounter = 0; 
			foreach ($data as $teacher) {
				echo "<span style=\"padding:10px;\">".$teacher->getLastname()." ".$teacher->getFirstname()." [".$teacher->getId()."]</span>";
				$teacherCounter++;
				if($teacherCounter >= 4){
					$studentCounter = 0;
					echo "<br/>";
				}
			}
		?>
	</fieldset>
	<fieldset>
		<legend>Etudiants</legend>
		<?php
			$data = NULL;
			$data = StudentDAO::getAllStudents();

			$studentCounter = 0; 
			foreach ($data as $student) {
				echo "<span style=\"padding:10px;\">".$student->getLastname()." ".$student->getFirstname()." [".$student->getId()."]</span>";
				$studentCounter++;
				if($studentCounter >= 4){
					$studentCounter = 0;
					echo "<br/>";
				}
			}
		?>
	</fieldset>
	<p style="text-align:center;">Format d'affichage : Nom Prénom [Identifiant]</p>
</div>