<div class="register_group">
	<form id='register' action='index.php?action=register_group' method='post' accept-charset='UTF-8'>
		<fieldset >
			<legend>Enregistrement</legend>
			<p>Tous les champs sont obligatoires !</p>
			<input type='hidden' name='submitted' id='submitted' value='1'/>
			<label for='groupname' class="clabel" >Nom du groupe à creer:</label> <input type='text' name='groupname' id='groupname' maxlength='50' required="true"/> <br>
			<input type='submit' value='Valider' />
		</fieldset>
	</form>
</div>